html, body {
font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  /*height: 100%;*/
  height: 4000px;
  margin: 0;
  padding: 0;
    width:100%;
    height:100%;
    background-color: #FFFDF3;
    color: #FCBFBF;
        /*background: url(triangle-transparent.png) top right;*/
        /*background-size: 110%;*/
        /*text-transform: uppercase;*/
}
img {
  height: 250px;
}
.envelope {
  height: 70px
}
h1 {
  color: #FFD064;
  letter-spacing: 7px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.title {
  color: #FFFDF3;
  font-size: 80px;
}
.fixed {
        position:fixed;
}
a, a:hover {
    color: inherit;
text-decoration: none;
border-bottom: 2px solid;
/*margin:0 0 0 15px;*/
/*    padding: 0 15.5px;*/
}
section {
    padding: 80px;
}
.slide {
  position: relative;
  overflow: hidden;
  height: 100vh; 
    /*height: 100%;*/
 padding: 200px 100px;
}
#welcome {
  background-image: url("IMG_1497.jpg");
  background-size: 100%;
}
/*#welcome {
background: linear-gradient(180deg, #FCBFBF, #FFD064)40%;
background-size: 200% 200%;
-webkit-animation: AnimationName 4s ease infinite;
-moz-animation: AnimationName 4s ease infinite;
animation: AnimationName 4s ease infinite;
}*/

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#portrait img {
    width: 500px;
    height: 500px;
    /*position: relative;*/
    /*right: 40px;*/
    /*bottom: 0;*/
    transform: translate(600px, -300px);
}

/*eyes*/

#dogpupilleft,
#dogpupilright {
  position: relative;
  background: #000000;
  border-radius: 50%;
}
#dogeyeleft,
#dogeyeright {
  position: absolute;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 50%;
}
#dogpupilleft {
  width: 27px;
  height: 27px;
}
#dogeyeleft
{
  width: 40px;
  height: 40px;  
  left: 900px; 
  top: 280px;
}

#dogpupilright{
  width: 27px;
  height: 27px;
}

#dogeyeright {
  width: 40px;
  height: 40px;
  left: 980px;
  top: 280px;
}

/*scrollmagic*/

.project {
    text-align: center;
    padding: 200px 0;
 /*   border-bottom: 1px #ebebeb solid;*/
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-out;
}
.project.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

    .slide .pin-wrapper {
        width: 100%;
        height: 100%;
    }
    .slide .wrapper {
        position: absolute;
        top: 45%;
        left: 50%; 
    }
    .slide .img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 700px;
        height: 418px;
        /*background: url('/...png') no-repeat top left;*/
        transform: translate(-80%, -40%); 
    }

/*contact form*/

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: salmon;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  /*border: solid 3px #FFD064;*/
  max-width: 75%;
  margin: 60px auto;
  position: relative;
/*  background-color: #FFFDF3;*/
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.underline {
  border-bottom: solid 2px #FFD064;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #FFD064;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
    float: right;
    width: 45%;
}

input[type='text'], [type='email'], select, textarea {
    background: none;
  border: none;
    border-bottom: solid 2px #FFD064;
    color: #FFD064;
    font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
    color: #FFD064;
}

:-moz-placeholder { 
    color: #FFD064;
    opacity: 1;
}

::-moz-placeholder {
    color: #FFD064;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #FFD064;
}

.form_button {
  background: none;
  border: solid 2px #FFD064;
  color: #FFD064;
  cursor: pointer;
  display: inline-block;
  /*font-size: 0.875em;*/
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.form_button:hover {
  background: #FFFDF3;
  color: #FCBFBF;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}