html, body {
font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  /*height: 100%;*/
  height: 4000px;
  margin: 0;
  padding: 0;
    width:100%;
    height:100%;
        /*background: url(triangle-transparent.png) top right;*/
        /*background-size: 110%;*/
        text-transform: uppercase;
}


nav {
    border-style: solid;
    border-width: 5px;
    background-color: white;
        width:100%;
    height: 60px;
    line-height:50px;
    position: relative;
}
#east {
background-color: white;
}
.fixed {
        position:fixed;
}

a, .nav_links li , a:hover{
    text-decoration: none;
    display: inline-block;
/*margin:0 0 0 15px;*/
    padding: 0 15.5px;
    text-transform: uppercase;
}
section {
    padding: 80px;
}
h1 {
    font-size: 60px;
}
.slide {
  position: relative;
  overflow: hidden;
  height: 100vh; 
    /*height: 100%;*/
 padding: 200px 100px;
}
#welcome, #contact, #beautiful {
    opacity: .9;
    color: white;
    background: linear-gradient(90deg, #bcf0bb, #a9e1e9, #d0b2f6, #f2b8d7, #f0e090)20%;
background-size: 200% 200%;
-webkit-animation: AnimationName 10s ease infinite;
-moz-animation: AnimationName 10s ease infinite;
animation: AnimationName 10s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#doodle {
/*    background: url(https://mdn.mozillademos.org/files/11305/firefox.png);
*/    /*background: linear-gradient(45deg, #f2b8d7, #f0e090);*/
}


#animation {
    text-align: center;
    padding: 200px 0;
    border-bottom: 1px #ebebeb solid;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-out;
}
#animation.fade-in {
    opacity: 1;
    transform: translateY(0px);
}